<div class="card" (click)="onClick()">
  <img class="card-img-top" src="assets/images/p1.jpeg" alt="Card image cap">
  <h5>{{ candidateName }}</h5>
  <div class="card-body">
    <div class="status">
      <span class="text-uppercase">{{ statusChallenge.replace('_', ' ') }}</span>
      <img [src]="'assets/images/progress_bars/' + statusChallenge + '.png'">
      <span>Challenge</span>
    </div>
    <div class="status">
      <span class="text-uppercase">{{ statusInterview.replace('_', ' ') }}</span>
      <img [src]="'assets/images/progress_bars/' + statusInterview + '.png'">
      <span>Interviews</span>
    </div>
  </div>
</div>
