.card {
  cursor: pointer;
}

h5 {
  margin-top: 1rem;
  text-align: center;
}

.card-img-top {
  width: 10rem;
  border-radius: 5rem;
  margin-top: 1rem;
  margin-left: auto; margin-right: auto;
}

.avatar-shadow {
  box-shadow: 0px 0px 10px 5px #52BE80; /* please set the shadow color conveniently */
}

.status span {
  display: block;
  text-align: center;
}

.status img {
  display: block;
  width: 8rem;
  margin-left: auto; margin-right: auto;
}

.status:nth-child(2) {
  margin-top: 1rem;
}
