.card {
  border-color: white;
  border-radius: 10px;
}

h5 {
  margin-top: .4rem;
  margin-bottom: 0;
  text-align: center;
}

.card-img-top {
  height: 8rem;
  width: 8rem;
  border-radius: 4rem;
  margin-top: 1rem;
  margin-left: auto; margin-right: auto;
}

.card-body {
  padding: .8rem;
}

.status span {
  display: block;
  text-align: center;
  font-size: .8rem;
}

.status img {
  display: block;
  width: 7rem;
  margin-left: auto; margin-right: auto;
}

.status:nth-child(2) {
  margin-top: .8rem;
}

/* css download function */
i{
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.card-list{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  width: 8.5rem;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: -1px 3px 19px -2px rgba(0,0,0,0.72);
  -moz-box-shadow: -1px 3px 19px -2px rgba(0,0,0,0.72);
  box-shadow: -1px 3px 19px -2px rgba(0,0,0,0.72);
}
.card-list a{
  display: block;
  font-size: 14px;
  width: auto;
  height: auto;
  border-radius: 5px;

}

.dropdown-item{
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

a.dropdown-item{
  color: #45474a;
  padding: 0rem .5rem;
}

a.dropdown-item:hover{
  background: rgba(0,0,0,.1);
}
