body nav.tab .bar {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: stretch;
    -webkit-filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1)) drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1)) drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 100%;
  }
  body nav.tab .bar .cap {
    background: white;
    width: 1rem;
  }
  body nav.tab .bar .cap:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0.5rem;
    box-shadow: 0.25rem 0 0 white;
  }
  body nav.tab .bar .cap:last-child {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 0.5rem;
    box-shadow: -0.25rem 0 0 white;
  }
  body nav.tab .bar .middle {
    flex-grow: 1;
    position: relative;
    display: flex;
  }
  body nav.tab .bar .middle .circle {
    position: relative;
    top: -1.75rem;
    width: 7rem;
    height: 5.75rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Ccircle cx='56' cy='36' r='36' fill='%23FFF'/%3E%3Cpath d='M104 35.2L104 35.2c0 26.3-20.9 48.3-47.2 48.8C29.9 84.4 8 62.8 8 36v-0.8c0-4-3.2-7.2-7.2-7.2H0v64h112V28h-0.8C107.2 28 104 31.2 104 35.2z' fill='%23FFF'/%3E%3C/svg%3E");
  }
  body nav.tab .bar .middle .side {
    flex-grow: 1;
    background: white;
    transition: 0.75s ease;
  }
  
  @-webkit-keyframes hide {
    0%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
  
  @keyframes hide {
    0%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
  @-webkit-keyframes hide2 {
    0%, 100% {
      opacity: 1;
    }
    15% , 75% {
      opacity: 0;
    }
  }
  @keyframes hide2 {
    0%, 100% {
      opacity: 1;
    }
    15% , 75% {
      opacity: 0;
    }
  }
  