<div class="col-sm-12">
  <form [formGroup]="challengeForm" id="challengeForm" (ngSubmit)="onSubmit()">
    <div class="form-group row mb-0" id="separator">
      <div class="col-sm-3 offset-sm-3">
        <label class="text-label">Date Sent</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-sm-3">
        <ejs-datepicker #ejDatePicker id="dayOfSent" format='yyyy-MM-dd' formControlName="dayOfSent" name="dayOfSent" >
        </ejs-datepicker>
      </div>
    </div>
    <div class="form-group row mb-0" id="separator">
      <div class="col-sm-2 offset-sm-3">
        <label class="text-label">Date Expected</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-sm-3">
        <ejs-datepicker #ejDatePicker id="dayOfExpected" format='yyyy-MM-dd' formControlName="dayOfExpected"
          name="dayOfExpected">
        </ejs-datepicker>
      </div>
    </div>
    <div class="from-group row mb-0" id="separator">
      <div class="col-sm-3 offset-sm-3">
        <label class="text-label">Reviewer</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 offset-sm-3">
        <input type="text-label" formControlName="reviewer" placeholder="Add a Reviewer" class="form-control"
        maxlength="90"/>
      </div>
    </div>
    <div class="form-group row mb-0" id="separator">
      <div class="col-sm-3 offset-sm-3">
        <label class="text-label">Link Challenge</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 offset-sm-3">
        <input type="text-label" formControlName="linkChallenge" placeholder="Add a Link" class="form-control"
        maxlength="90"/>
      </div>
    </div>
    <div class="form-group row mb-0" id="separator">
      <div class="col-sm-3 offset-sm-3">
        <label class="text-label">Status Challenge</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 offset-sm-3 responsive-movil">
       <div style="display: inline-block;" *ngFor="let status of statusChallengeList">
          <input type="radio" [value]="status.id" class="btn-radio" [id]="status?.name" formControlName="statusChallengeID"> 
          <label [for]="status?.name" class="btn-label text-movil"> {{status?.name}}</label>
        </div>
      </div>
    </div>
    <div class="form-group row mb-0" id="separator">
      <div class="col-sm-3 offset-sm-3">
        <label class="text-label" for="comment">Comment</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <textarea class="form-control comment-width" formControlName="comment" rows="10" cols="12" 
        [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" placeholder="Write your comment here..."
        [maxlength]="300"></textarea>
        <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
          <div *ngIf="submitted && f.comment.errors?.maxlength">
            Comment must have less than 300 characters
          </div>
          <div *ngIf="submitted && f.comment.errors?.pattern">
            Comment has to be only characters
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row mt-4">
      <div class="col-sm-10">
        <button type="submit" class="btn-pm">Save</button>
      </div>
    </div>
  </form>
</div>