  #separator{
    margin-top: 2rem;
  }

  .position{
    float: right;
    width:95%;
    margin: 0 auto;
  }

  .btn-pm{
    float: right;
    color: white;
    background-color: #73BB83;
    width: 100px;
    height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.3rem;
    font-size: 15px;
    text-align: center;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }
    
  .btn-pm:hover, .btn-pm:focus{
    border: 2px solid #73BB83;
    background: #FFF;
    color: #73BB83;
    outline: none;
  }


  /*Day interview style*/
  .day-int-alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-left: 20px;
    width: 100%;
   }


  .invalid-feedback-custom {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }
  
  .text-label{
    font-weight: normal;
    font-size: 14px;
  }

  @media screen and (max-width: 590px){
    .text-movil{
      font-size: 0.65rem !important;
      width: 4.1rem !important;
    }
    .responsive-movil{
      padding-right: 0px !important;
    }
  }

  .btn-label{
    border: 1px solid #A9A9A9;
    font-size: 1rem;
    width: 5.2rem;
    padding: 10px 0px;
    text-align: center;
  }

  .btn-radio{
    display: none;
  }

  .btn-radio:checked + .btn-label{
    background: #609AB4;
    color: #FFF;
    transition: 0.5s;
  }