<div class="container">
        <!--<app-header></app-header>-->
        <div class="card card-signin">
                <div class="col-12 title form-title">
                        <label>Candidate: {{candidate?.name +' '+candidate?.lastName}}</label>
                </div>

                <div class=" col-12 title form-subtitle form-group">
                        <label class="margin-left">{{statusCandidate?.name}}</label>
                </div>
                <div class="starter-template">
                        <div class="form-group">
                                <div class="col-md-12">
                                        <form [formGroup]="interviewForm" id="interviewForm" (ngSubmit)="onSubmit()">
                                                <div class="form-group row">
                                                        <div class="col-md-3">
                                                                <label class="margin-left text">Select a day for the
                                                                        Interview:</label>
                                                        </div>

                                                        <div class="col-md-3 date-picker-width">
                                                                <ejs-datepicker #ejDatePicker
                                                                        id="dayOfInterview"
                                                                        format='yyyy-MM-dd'
                                                                        formControlName="dayOfInterview"
                                                                        name="dayOfInterview"
                                                                        [placeholder]='placeholder' 
                                                                        (blur)="onFocusOut()" (change)= "onChange($event)">
                                                                </ejs-datepicker>
                                                        </div>
                                                </div>

                                                <div class="form-group">
                                                        <label class="margin-left text" for="comment">Comment</label>
                                                        <textarea class="form-control margin-left comment-width"
                                                                formControlName="comment" rows="3"
                                                                [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"
                                                                placeholder="Write your comment here..."
                                                                [maxlength]="300"></textarea>
                                                        <div *ngIf="submitted && f.comment.errors" class="invalid-feedback margin-left">
                                                                <div *ngIf="submitted && f.comment.errors?.maxlength">
                                                                        Comment must have less than 300 characters
                                                                </div>
                                                                <div *ngIf="submitted && f.comment.errors?.pattern">
                                                                        Comment has to be only characters
                                                                </div>
                                                        </div>
                                                </div>

                                                <label for="participants" class="margin-left text">Participants</label>

                                                <div class="form-group row">
                                                        <div class="col-md-9">
                                                                <input type="text" formControlName="addParticipant"
                                                                        placeholder="Add Participants"
                                                                        class="form-control margin-left"
                                                                        [ngClass]="{ 'is-invalid': submitted && f.participants.errors }" 
                                                                        maxlength="90"/>
                                                                <div *ngIf="submitted && f.participants.errors"
                                                                        class="invalid-feedback margin-left">
                                                                        <div *ngIf="submitted && f.participants.errors?.required">Please add a participant</div>
                                                                </div>
                                                                <div *ngIf="!submitted && f.addParticipant.errors" class="invalid-feedback-custom margin-left">
                                                                        <div *ngIf="f.addParticipant.errors?.maxlength">
                                                                                Participant must have less than 90 characters
                                                                        </div>
                                                                        <div *ngIf="f.addParticipant.errors?.pattern">
                                                                                Participant has to be only characters
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <button class="col-md-2 margin-left btn btn-pm" type="button"
                                                                (click)="addParticipants()"
                                                                [disabled]="f.addParticipant.value == ''">
                                                                Add
                                                        </button>
                                                </div>

                                                <div class="form-group row margin-left">
                                                        <ul>
                                                                <li *ngFor="let part of participants">{{part}}</li>
                                                        </ul>
                                                </div>

                                                <div class="form-group row margin-left">
                                                        <div class="col-md-2">
                                                                <button id="add-interview" type="submit"
                                                                        class="btn btn-pm">Save</button>
                                                        </div>
                                                        <div class="col-md-2">
                                                                <button id="cancel-interview" 
                                                                (click)="cancelInterview()"
                                                                type="button"
                                                                class="btn btn-cancel">Cancel</button>
                                                        </div>
                                                </div>
                                        </form>

                                </div>


                        </div>

                </div>

        </div>

</div>