  .container {
    margin-top: calc(56px + 1rem);
    font-family: 'Roboto', sans-serif;
  }


  .form-title {
    background: #00417c;
    text-align: center;
    font-weight: lighter;
    font-size: 28px;
  }

  .form-title span {
    color: white;

  }

  .form-subtitle {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 24px;
  }

  .form-subtitle span {
    color: black;
  }

  .form-title, .form-subtitle {
    padding: .5rem 1rem .5rem 1rem;
  }


  .form-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .ok-btn-add{
    width: auto;
    height: 35px;
    font-size: 15px;
    background-color: #609AB4;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    border: none;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }

  .ok-btn {
    float: right;
    color: white;
    background-color: #73BB83;
    width: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }

  .not-ok-btn {
    float: right;
    font-size: 15px;
    background-color: #B46060;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    border: none;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }

  .ok-btn:hover, .not-ok-btn:hover, .ok-btn-add:hover {
    border: 1px solid #FFF;
  }

  .text-label{
    font-weight: normal;
    font-size: 14px;
  }

  #save-btn, #cancel-btn {
    width: 6rem;
  }

  @media screen and ( max-width: 575px){
    .movil{
      margin-top: 0.9rem;
    }
  }
