<div class="d-flex" id="wrapper" [ngClass]="toggled ? 'toggled' : ''">
  
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <nav class="navbar d-flex justify-content-center" id="items-nav">
      <ul class="navbar-nav flex-column text-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="''" >HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/candidate']">CANDIDATES LIST <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" [routerLink]="''">LOGOUT</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav id="id-nav" class="navbar navbar-expand-lg navbar-light">
      <button class="btn navbar-brand" (click)="toggle()" id="menu-toggle">
        <img src="../../../../assets/images/LOGO.png" width="100">
      </button>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link btn" [routerLink]="['/user/data', user?.idUser]">
              <img id="profile" src="../../../../assets/images/default.png" width="105">
            </button>
          </li>
        </ul>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>