    .user{
        text-align: center;
    }

    .side-icon{
        display: flex;
    }

    a.nav-link.user-profile{
        width: 200px;
    }

    a{
        display: flex;
        text-decoration: none;
    }

    a.nav-link.user-name{
        right: 12px;
        padding-right: 4px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: .3rem;
    }

    li.nav-item.active{
        padding-right: 7px;
    }

    li.nav-item.active.user-profile{
        width: 80px;
        display: inline-flex; 
    }

    li.nav-item.active.logo-sign-out{
        width: 80px;
        display: inline-flex;
    }

    a.nav-link.title.account{
        width: 70px;
    }

    a.nav-link.title{
        color:white;
    }

    div#navbarsExampleDefault.navbar-collapse.collapse{
        padding-right: 10px;
    }

    a.title:hover, a.title:active {
        text-decoration: none;
    }

    @import "../node_modules/@syncfusion/ej2/material.css";

  