<div class="d-flex" id="wrapper" [ngClass]="toggled ? 'toggled' : ''">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="sidebar-head">
      <img src="../../../../assets/images/LOGO-1.png" width="120">
    </div>
    <nav class="navbar" id="items-nav">
      <ul class="navbar-nav flex-column text-left">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="''" routerLinkActive="item-active" [routerLinkActiveOptions]="{exact:
            true}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/candidate']" routerLinkActive="item-active">CANDIDATES LIST <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" [routerLink]="''">LOGOUT</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav id="id-nav" class="navbar navbar-expand">
      <a class="navbar-brand" (click)="toggle()" id="menu-toggle">
        <button class="btn">
          <i class="fas fa-bars"></i>
        </button>
      </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button class="nav-link btn p-0" [routerLink]="['/user/data', user?.idUser]">
              <img id="profile" src="../../../../assets/images/default.png" width="105">
            </button>
          </li>
        </ul>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>