.user{
    text-align: center;
}
.btn-logout{
    width: 35px;
    height: 35px;
    padding-top: 5px;
    color:white;
       
  }

a.title:hover, a.title:active {
    text-decoration: underline;
}
  