#profile {
  width: 50px;
  height: 50px;
  border-radius: 70%;
}

#id-nav {
  background-color: white;
  height: 65px;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background: #00417c;
}

#sidebar-wrapper .sidebar-head {
  padding: 50px 60px;
}

#sidebar-wrapper .navbar {
  width: 15rem;
}

#items-nav {
  padding: 0px;
  display: block;
}

#items-nav ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  font-weight: 600;
}

#items-nav ul li a:hover {
  color: #00417c;
  background: #fff;
}

.item-active {
  color: #00417c !important;
  background: #fff;
}

#items-van a,
a:hover,
a:focus {
  transition: all 0.3;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
  /* */
.card{
  top: 7rem;
  z-index: 100;
}


