<div class="d-flex" id="wrapper" [ngClass]="toggled ? 'toggled' : ''">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="sidebar-head">
      <img src="../../../../assets/images/LOGO-1.png" width="120">
    </div>
    <nav class="navbar" id="items-nav">
      <ul class="navbar-nav flex-column text-left">
        <li class="nav-item">
          <a class="nav-link" (click)="sidebar_hide()" [routerLink]="''" routerLinkActive="item-active"
            [routerLinkActiveOptions]="{exact:
            true}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sidebar_hide()" [routerLink]="['/candidate']"
            routerLinkActive="item-active">CANDIDATES LIST <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav id="id-nav" class="navbar navbar-expand">
        <a class="navbar-brand" (click)="toggle()" id="menu-toggle">
          <button class="btn">
            <i class="fas fa-bars"></i>
          </button>
        </a>

      <ul class="navbar-nav ml-auto" (click)="toggleUser()" id=toggleUser>
        <li class="nav-item">
          <a class="nav-link btn p-0">
            <img id="profile" src="../../../../assets/images/default.png" width="105">
          </a>
        </li>
      </ul>


      <div class="card" *ngIf="show">
        <div >
          <a class="justify-content-center"  [routerLink]="['/user/data', user?.idUser]">
            <img id="profile" src="../../../../assets/images/default.png" width="105">
          </a>
        </div>

        <div class="text-center px-2 py-2">
            <button class="btn btn-outline-secondary btn-sm " (click)="logout()" 
              [routerLink]="''">LOGOUT
            </button>
        </div>
      </div>

    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

<!---->