  .candidate-form {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFF;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-family: 'Roboto', sans-serif;
  }

  .candidate-btn-pm{
    float: right;
    color: white;
    background-color: #00417c;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
  }
    
  .candidate-btn-pm:hover{
    border: 1px solid #FFF;
  }