.container {
  margin-top: calc(56px + 1rem);
  font-family: 'Roboto', sans-serif;
}

.title-bg{
  background-color:  #609AB4;
  color: #FFF;
 }

.form-title {
  background: #00417c;
  text-align: center;
  font-weight: lighter;
  font-size: 28px;
}

.form-title span {
  color: white;

}


.form-title {
  padding: .5rem 1rem .5rem 1rem;
}


.form-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ok-btn-add{
  width: 9rem;
  height: 35px;
  border: 0px;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 15px;
  background: #609AB4;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
}

.ok-btn {
  float: right;
  height: 2.5rem;
  border: 0px;
  border-radius: 0.3rem;
  color: #FFF;
  background-color: #73BB83;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
}

.not-ok-btn {
  float: right;
  height: 2.5rem;
  border: 0px;
  border-radius: 0.3rem;
  font-size: 15px;
  background-color: #B46060;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
}

.not-ok-btn:hover, .not-ok-btn:focus{
  border: 2px solid #B46060;
  background: #FFF;
  color: #B46060;
  outline: none;
}

.ok-btn:hover, .ok-btn:focus{
  border: 2px solid #73BB83;
  background: #FFF;
  color: #73BB83;
  outline: none;
}

.ok-btn-add:hover, .ok-btn-add:focus{
  border: 2px solid #A9A9A9;
  outline: none;
}

.text-label{
  font-weight: normal;
  font-size: 14px;
}

#save-btn, #cancel-btn {
  width: 6rem;
}

@media screen and ( max-width: 575px){
  .movil{
    margin-top: 0.9rem;
  }
}
