<div class="container">
  <div class="card card-signin">
    <div class="form-title">
      <span>Candidate: {{candidate?.name +' '+candidate?.lastName}}</span>
    </div>
    <div class="form-container mt-4">
      <form [formGroup]="interviewEditForm" (ngSubmit)="onSubmit()">
        <!-- DATE -->
        <div class="form-group row mb-0">
          <div class="col-sm-4 offset-sm-2">
            <label class="text-label">Interview Date</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 offset-sm-2">
            <ejs-datepicker #ejDatePicker id="dayOfInterview" format='yyyy-MM-dd' formControlName="dayOfInterview"
              name="dayOfInterview" [placeholder]="'Select a day'">
            </ejs-datepicker>
            <div *ngIf="submitted && f.dayOfInterview.invalid" class="text-danger">
              Please select a day for the interview.
            </div>
          </div>
        </div>
        <!-- INTERVIEW -->
        <div class="form-group row mb-0 mt-4">
          <div class="col-sm-4 offset-sm-2">
            <label class="text-label">Interview</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-2">
            <select class="custom-select" name="statusCandidate" id="statusCandidate" formControlName="statusCandidate">
              <option [ngValue]="status.id" *ngFor="let status of statusCandidateList">
                {{status?.name}}
              </option>
            </select>
          </div>
        </div>
        <!--COMMENT-->
        <div class="form-group row mb-0 mt-4">
          <div class="col-sm-3 offset-sm-2">
            <label class="text-label" for="comment">Comment</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 offset-sm-2">
            <textarea class="form-control" id="comment" formControlName="comment" rows="10" cols="12"
            [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" placeholder="Write your comment here..."
            [maxlength]="300"></textarea>
            <div *ngIf="submitted && f.comment.errors" class="invalid-feedback margin-left">
              <div *ngIf="submitted && f.comment.errors?.maxlength">Comment must have less than 300 characters</div>
              <div id="only-letter-comment" *ngIf="submitted && f.comment.errors?.pattern">Comment has to be only
              characters</div>
            </div>
          </div>
        </div>          
        <!--PARTICIPANTS-->
        <div class="form-group row mb-0 mt-4">
          <div class="col-sm-4 offset-sm-2">
            <label for="participants" class="text-label">Participants</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-2">
            <input id="participant" type="text" formControlName="addParticipant" placeholder="Add Participants"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.participants.errors }" />
              <div *ngIf="submitted && f.participants.errors?.required">
                <span class="text-danger">Please add a participant</span>
              </div>
              <div *ngIf="!submitted && f.addParticipant.errors">
                <span *ngIf="f.addParticipant.errors?.maxlength" class="text-danger">Participant must have less than 90 characters</span>
                <span id="participant-only-characters" *ngIf="f.addParticipant.errors?.pattern" class="text-danger">
                  Participant has to be only characters
                </span>
              </div>
          </div>
          <div class="col-sm-5 movil">
            <button class="ok-btn-add" type="button" (click)="addParticipants()"
              [disabled]="f.addParticipant.value == ''">Add Participants</button>
          </div>
        </div>
        <div class="form-group row mt-4">
          <div class="table-responsive-sm col-sm-8 offset-sm-2 mt-3">
            <table class="table table-striped custab" *ngIf="listParticipants?.length > 0 ; else elseBlock">
              <thead class="text-center title-bg">
                <tr>
                  <th scope="col">Participant</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let item of listParticipants; let i=index;">
                  <td><span>{{item}}</span></td>
                  <td>
                    <button alt="remove" title="Remove" type="button" class="btn" (click)="removeParticipants(i)">
                      <i class="fas fa-trash-alt fa-1x"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- SAVE -->
        <div class="row">
          <div class="col-sm-11">
            <button id="cancel-btn" (click)="cancelInterview()" type="button" class="not-ok-btn ml-3">Cancel</button>
            <button id="save-btn" type="submit" class="ok-btn">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>