<div class="container">

  <div class="card card-signin">

    <div class="form-title ">
      <span class="font-weight-bold">Candidate: {{candidate?.name +' '+candidate?.lastName}}</span>
    </div>

    <div class="form-subtitle">
      <span class="font-weight-bold">{{statusCandidate?.name}}</span>
    </div>

    <div class="form-container mt-3">

      <form [formGroup]="interviewEditForm" (ngSubmit)="onSubmit()">

        <!-- DATE -->
        <div class="form-group row">
          <div class="col-12 col-md-3">
            <label class="font-weight-bold">Interview Date</label>
          </div>

          <div class="col-12 col-md-4">
            <ejs-datepicker #ejDatePicker id="dayOfInterview" format='yyyy-MM-dd' formControlName="dayOfInterview"
              name="dayOfInterview" [placeholder]="'Select a day'">
            </ejs-datepicker>
            <div *ngIf="submitted && f.dayOfInterview.invalid" class="text-danger">
              Please select a day for the interview.
            </div>
          </div>
        </div>

        <!-- INTERVIEW -->
        <div class="form-group">
          <label class="font-weight-bold">Interview</label>
          <select class="custom-select" name="statusCandidate" id="statusCandidate" formControlName="statusCandidate">
            <option [ngValue]="status.id" *ngFor="let status of statusCandidateList">
              {{status?.name}}
            </option>
          </select>
        </div>

        <!-- COMMENT -->
        <div class="form-group">
          <label class="font-weight-bold" for="comment">Comment</label>
          <textarea class="form-control" id="comment" formControlName="comment" rows="3"
            [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" placeholder="Write your comment here..."
            [maxlength]="300"></textarea>
          <div *ngIf="submitted && f.comment.errors" class="invalid-feedback margin-left">
            <div *ngIf="submitted && f.comment.errors?.maxlength">Comment must have less than 300 characters</div>
            <div id="only-letter-comment" *ngIf="submitted && f.comment.errors?.pattern">Comment has to be only
              characters</div>
          </div>
        </div>

        <!-- ADD PARTICIPANT -->
        <div class="form-group">
          <label for="participants" class="font-weight-bold">Participants</label>

          <div class="row">
            <div class="col-12 col-md-9 mb-3">
              <input id="participant" type="text" formControlName="addParticipant" placeholder="Add Participants"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.participants.errors }" />
              <div *ngIf="submitted && f.participants.errors?.required">
                <span class="text-danger">Please add a participant</span>
              </div>
              <div *ngIf="!submitted && f.addParticipant.errors">
                <span *ngIf="f.addParticipant.errors?.maxlength" class="text-danger">Participant must have less than 90 characters</span>
                <span id="participant-only-characters" *ngIf="f.addParticipant.errors?.pattern" class="text-danger">
                  Participant has to be only characters
                </span>
              </div>
            </div>
            <div class="col-5 col-md-3">
              <button id="add-btn" class="btn ok-btn font-weight-bold" type="button" (click)="addParticipants()"
                [disabled]="f.addParticipant.value == ''">Add</button>
            </div>
          </div>
        </div>

        <!-- PARTICIPANTS LIST -->
        <div class="form-group">
          <table class="table table-striped custab" *ngIf="listParticipants?.length > 0 ; else elseBlock">
            <tr>
              <th scope="row">Participant</th>
              <th scope="row">Actions</th>
            </tr>
            <tr *ngFor="let item of listParticipants; let i=index;">
              <td><span>{{item}}</span></td>
              <td>
                <button alt="remove" title="Remove" type="button" class="btn" (click)="removeParticipants(i)">
                  <i class="fas fa-trash-alt fa-2x"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>

        <!-- SAVE -->
        <div class="form-group mt-4">
          <button id="save-btn" type="submit" class="btn ok-btn font-weight-bold">Save</button>
          <button id="cancel-btn" (click)="cancelInterview()" type="button" class="btn not-ok-btn font-weight-bold ml-3">Cancel</button>
        </div>

      </form>

    </div>
  </div>
</div>
