.breadcrumb{
    background-color: #e4e5e6 !important;
}

 /*disable breadcrumbs if it is the last label*/
.last a{
    color: black;
    pointer-events: none;
}

ol.breadcrumb{
    padding: 0rem;
    margin-left: 2rem;
}

