  .aligner-right {
    float: right;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-top: 0px;
    width: 100%;
  }

  .aligner {
    display: flex;
    align-items: center;        
    justify-content: center;
    height: 100%;
  }

  .aligner-item {
    max-width: 50%;
  }
  /* Button */
  .interview-btn-pm{
    float: right;
    color: white;
    background-color: #882960;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
  }
    
  .interview-btn-pm:hover{
    color: #882960;
    border-color: #882960;
    border-width: 1px;
    border-style: solid;
    background-color: white;
  }

  .position{
    float: right;
    width: 95%;
    margin: 0 auto;
  }

  .position-info{
    padding-left: 10px;
  }

  .text-title{
    text-align:left;
    width: 95%;
    padding: 1px;
    
  }

  .text-subtitle{
    text-align:left;
    width: 95%;
    padding-top: 5px;
  }

  .text{
    font-weight: bold;
    padding-left: 20px;
  }

  .padding-left {
    padding-left: 32px;
  }
  /*For the title of forms*/
  .form-title{
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    background: #7b1a52 ;
    border-radius: 0px 0px 0px 0;
    text-align: center;
    color: #ffffff;
  }

  .input:disabled {
    color: #aaa;
  }
  
  /*For the second title of forms*/
  .form-subtitle{
    width: 100%;
    display: flex;
    justify-content: left;
    height: 40px;
    font-weight: bold;
    background: #bbb8b9 ;
    border-radius: 0px 0px 0px 0;
    text-align: left;
    color: #161616;
  }

  /*Button edit*/
  .btn-edit{
    width: 25px;
    height: 25px;
  }  
  /*Button icon*/
  .btn-icon{
    width: 15px;
    height: 20px;
    align-content: center;
  }

  @import "../node_modules/@syncfusion/ej2/material.css";

