  /* Button */
  .interview-btn-pm{
    float: right;
    color: white;
    background-color: #73BB83;
    width: auto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }
    
  .interview-btn-pm:hover{
    border: 2px solid #73BB83;
    background: #FFF;
    color: #73BB83;;
  }

  .text-label{
    font-weight: normal;
    font-size: 14px;
  }

  .invalid-feedback {
    font-size: 11px;
    font-weight: lighter;
    color: #FF0000;
  }

  .btn-add{
    width: auto;
    font-size: 15px;
    background-color: #609AB4;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }

  .title-bg{
   background-color:  rgb(122, 145, 155);
   color: #FFF;
  }

  .btn-add:hover{
    border: 2px solid #A9A9A9;
  }

  @media screen and ( max-width: 575px){
    .movil{
      margin-top: 1.2rem;
    }
  }