<form [formGroup]="dataCandidateForm" id="dataCandidateForm" (ngSubmit)="onSubmit()">
  <div class="row mx-2 mt-4">
    <div class="col-sm-2 offset-sm-1 image-devices">
      <div class="circular--portrait">
        <img [src]="imageUrl" alt="Loading...">
      </div>
      <label class="btn-photo spacing-button">
        <span>{{ nameButton }}</span>
        <input id="imageInput" type="file" accept="image/*" onclick="this.value = null" (change)="imageLoading($event)">
      </label>
      <button *ngIf="activeRemove" (click)="deleteButton($event)" class="btn-remove spacing-button">Remove</button>
    </div>
    <div class="col-sm-9">
      <div class="form-group mb-0 mt-3 row">
        <label for="inputName" class="col-sm-2 offset-sm-2 col-form-label text-label devices-adaptacion">Name</label>
      </div>
      <div class="row">
        <div class="col-sm-5 offset-sm-2 devices-adaptacion">
          <input type="text" formControlName="name" class="form-control input-field" id="inputName" placeholder="Name">
          <span class="text-error" *ngIf="submitted && f.name.errors?.required">Name is required</span>
          <span class="text-error" *ngIf="submitted && f.name.errors?.pattern">Name have to be only letters</span>
          <span class="text-error" *ngIf="submitted && f.name.errors?.maxlength">Name must have less than 100 characters</span>
        </div>
      </div>
      <div class="form-group row mb-0" id="separator">
        <label for="inputLastName" class="col-sm-2 offset-sm-2 col-form-label text-label devices-adaptacion">Last Name</label>
      </div>
      <div class="row">
        <div class="col-sm-5 offset-sm-2 devices-adaptacion">
          <input type="text" formControlName="lastName" class="form-control input-field" id="inputLastName"
            placeholder="Last Name">
          <span class="text-error" *ngIf="submitted && f.name.errors?.required">Last Name is required</span>
          <span class="text-error" *ngIf="submitted && f.name.errors?.pattern">Last Name have to be only letters</span>
          <span class="text-error" *ngIf="submitted && f.name.errors?.maxlength">Last Name must have less than 100characters</span>
        </div>
      </div>
      <div class="form-group row mb-0" id="separator">
          <label for="inputEmail" class="col-sm-3 offset-sm-2 text-label devices-adaptacion">Email<span class="text-optional"> - Optional</span></label>
      </div> 
      <div class="row">
        <div class="col-sm-6 offset-sm-2 devices-adaptacion">
          <input type="email" formControlName="email" class="form-control input-field" id="inputEmail" placeholder="Email">
        </div>
      </div> 
      <div class="from-group row mb-0" id="separator">
        <label for="inputDateBirth" class="col-sm-5 offset-sm-2 col-form-label text-label devices-adaptacion">Date of birth<span class="text-optional"> - Optional</span></label>
      </div>
      <div class="row">
        <div class="col-sm-4 offset-sm-2 devices-adaptacion">
          <div class="date-picker-width">
            <ejs-datepicker #ejDatePicker id="dateOfBirth" format='yyyy-MM-dd' formControlName="dateOfBirth"
              name="dateOfBirth">
            </ejs-datepicker>
          </div>
        </div>
      </div>
      <div class="form-group row mb-0" id="separator">
        <label for="inputPhoneNumber" class="col-sm-5 offset-sm-2 col-form-label text-label devices-adaptacion">Phone Number<span class="text-optional"> - Optional</span></label>
      </div>
      <div class="row">
        <div class="col-sm-5 offset-sm-2 devices-adaptacion">
          <input type="text" formControlName="phoneNumber" class="form-control input-field" id="inputPhoneNumber" placeholder="Phone Number">
        </div>
      </div>
      <div class="form-group row mb-0" id="separator">
        <label for="inputUniversity" class="col-sm-5 offset-sm-2 col-form-label text-label devices-adaptacion">University<span class="text-optional"> - Optional</span></label>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2 devices-adaptacion">
          <input type="text" formControlName="university" class="form-control input-field" id="inputUniversity"
            placeholder="University">
        </div>
      </div>
      <div class="form-group row mb-0" id="separator">
        <label for="decision" class="col-sm-5 offset-sm-2 col-form-label text-label devices-adaptacion">Decision<span class="text-optional"> - Optional</span></label>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2 devices-adaptacion">
          <input type="radio" value="Approved" class="btn-radio"  id="approved" formControlName="decision"> 
          <label for="approved" class="btn-label">Approved</label>
            
          <input type="radio" value="Rejected" class="btn-radio" id="rejected" formControlName="decision"> 
          <label for="rejected" class="btn-label">Rejected</label>   
        </div>
      </div>
      <div class="form-group row mb-0" id="separator">
        <label for="inputLinkResume" class="col-sm-5 offset-sm-2 col-form-label text-label devices-adaptacion">Resume<span class="text-optional"> - Optional</span></label>
      </div>
      <div class="row">
        <div class="col-sm-9 offset-sm-2 devices-adaptacion">
          <input #fileResume type="file" accept=".pdf, .doc, .docx" id="resumeUrl" hidden (change)="uploadFile($event)">
          <button id="btn-resume" type="button" class="btn custom-button" (click)="fileResume.click()">Select Resume</button>
          <span id="text-resumeUrl" class="custom-text">No file selected.</span>
          <i *ngIf="activeResume" style="margin-left: 0.4rem;" class="fas fa-arrow-alt-circle-down"></i>
        </div>
      </div>
      <div class="form-group row mb-0" id="separator">
        <label for="filesUrl" class="col-sm-5 offset-sm-2 col-form-label text-label devices-adaptacion">Additional File<span class="text-optional"> - Optional</span></label>
      </div>
      <div class="row">
        <div class="col-sm-9 offset-sm-2 devices-adaptacion">
          <input #fileUrl type="file" accept=".pdf, .doc, .docx" id="fileUrl" hidden (change)="uploadFile($event)">
          <button type="button" class="btn custom-button" (click)="fileUrl.click()">Select file</button>
          <span id="text-fileUrl" class="custom-text">No file selected.</span>
          <i *ngIf="activeFile" style="margin-left: 0.4rem;" class="fas fa-arrow-alt-circle-down"></i>
        </div>
      </div>
      <div class="form-group row mb-0" id="separator">
        <label for="comments" class="col-sm-4 offset-sm-2 col-form-label text-label devices-adaptacion">Comments</label>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2 devices-adaptacion">
          <textarea id="comments" class="form-control" formControlName="comments" rows="10" cols="12" placeholder="Write your comments here..."></textarea>
        </div>
      </div>
      <div class="form-group row mt-4">
        <div class="col-sm-11">
          <button type="submit" class="btn-pm">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>