  #separator{
    margin-top: 2rem;
  }
  
  /*image*/
  .circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--portrait img {
    width: 100%;
    height: auto;
  }

  .text-error{
    font-size: 11px;
    font-weight: lighter;
    color: #FF0000;
  }

  .text-optional{
    font-size: 11px;
    font-style: italic;
    color: #A9A9A9;
  }

  .text-label{
    font-weight: normal;
    font-size: 14px;
  }

  .btn-pm{
    float: right;
    color: white;
    background-color: #73BB83;
    width: 100px;
    height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 0.3rem;
    border: 0px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }
    
  .btn-pm:hover, .btn-pm:focus{
    border: 2px solid #73BB83;
    background: #FFF;
    color: #73BB83;
    outline: none;
  }
    
  .position{
    width: 95%;
    margin: 0 auto;
  }

  .input-field{
    height: 40px;
  }

  /*ADD*/
  #imageInput{
    display: none;
  }

  .btn-photo{
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 135px;
    height: 35px;
    font-size: 15px;
    background-color: #609AB4;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }

  .btn-photo:hover, .btn-remove:hover, .custom-button:hover, .btn-photo:focus, .btn-remove:focus, .custom-button:focus{
    border: 2px solid #A9A9A9;
    outline: none;
  }

  .btn-remove{
    margin-top: 0.4rem;
    width: 135px;
    height: 35px;
    font-size: 15px;
    background-color: #B46060;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }

  .spacing-button{
    margin-left: 1.9rem;
  }

  .custom-button{
    width: 135px;
    height: 35px;
    font-size: 15px;
    background-color: #609AB4;
    border-radius: 0.5rem;
    border: 0px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(2, 0, 40, 0.25);
  }

  .custom-text{
    margin-left: 0.7rem;
  }

  @media screen and (max-width: 575px){
    .circular--portrait{
      margin-left: calc((100% - 200px) / 2);
    }

    .spacing-button{
      margin-left: calc((100% - 140px) / 2) !important;
    }
  }

  .btn-label{
    display: inline-block;
    border: 1px solid #A9A9A9;
    width: 90px;
    padding: 10px 0px;
    text-align: center;
  }

  .btn-radio{
    display: none;
  }

  .btn-radio:checked + .btn-label{
    background: #609AB4;  
    color: #FFF;
    transition: 0.5s;
  }

  @media screen and (min-width: 576px) and (max-width: 1100px){
    .devices-adaptacion{
      margin-left: 9rem !important;
    }

    .image-devices{
      margin-left: 0px !important;
    }
  }