.text-label{
    font-weight: bold;
    font-size: 15px;
}

/* Button*/
.btn-save {
    float: right;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 2px;
    background-color: #882960;
  }
  .btn-save:hover{
    background-color:rgb(153, 56, 129); 
    color: white;
  } 
  .btn-pm{
    float: right;
    color: white;
    background-color: #882960;
    width: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    
    }
    
    .btn-pm:hover{
    color: #882960;
    border-color: #882960;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    }
    
.position{
    width: 95%;
    margin: 0 auto;
  }

.input-field{
    height: 30px;
}