  #separator{
    margin-top: 2rem;
  }
  /*image*/
  .circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--portrait img {
    width: 100%;
    height: auto;
  }

  .text-label{
    font-weight: bold;
    font-size: 15px;
  }

  .btn-pm{
    float: right;
    color: white;
    background-color: green;
    width: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
  }
    
  .btn-pm:hover{
    color: #882960;
    border-color: #882960;
    border-width: 1px;
    border-style: solid;
    background-color: white;
  }
    
  .position{
    width: 95%;
    margin: 0 auto;
  }

  .input-field{
    height: 40px;
  }

  /*ADD*/
  #imageInput{
    display: none;
  }

  .btn-photo{
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 135px;
    height: 35px;
    font-size: 15px;
    background-color: hsla(209, 100%, 43%, 1);
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
  }

  .btn-photo:hover, .btn-remove:hover, #custom-button:hover{
    border: 1px solid #ffffff;
  }

  .btn-remove{
    margin-top: 0.4rem;
    width: 135px;
    height: 35px;
    font-size: 15px;
    background-color: hsla(356, 91%, 51%, 1);
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    border: none;
  }

  .spacing-button{
    margin-left: 1.9rem;
  }

  #custom-button{
    cursor: pointer;
    width: 135px;
    height: 35px;
    font-size: 15px;
    background-color: hsla(209, 100%, 43%, 1);
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    border: none;
  }

  #custom-text{
    margin-left: 10px;
  }

