  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  #container-popup{
    visibility: hidden;
  }

  #dialog-container {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 150%;  
  }

  #loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: relative;
    top: 45%;
    width: 30%;
  }

  .aligner-right {
    float: right;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-top: 0px;
    width: 100%;
  }
  
  .aligner {
    display: flex;
    align-items: center;        
    justify-content: center;
    height: 100%;
  }
  
  .aligner-item {
    max-width: 50%;
  }
  
  .position{
    float: right;
    width: 95%;
    margin: 0 auto;
  }

  .position-search{
    width: 95%;
    padding-left: 25px;
  }

  .position-info{
    padding-left: 10px;
  }

  .text-title{
    text-align:left;
    width: 95%;
    padding: 1px;  
  }

  .text-subtitle{
    text-align:left;
    width: 95%;
    padding-top: 5px;
  }

  .text{
    font-weight: bold;
  }

  /*For the title of forms*/
  .form-title{
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 40px;
    background: #882960;
    border-radius: 0px 0px 0px 0;
    color: #ffffff;
    padding-left: 0px;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-weight: bold;    
  }

  .input:disabled {
    color: #aaa;
  }

  /*For the second title of forms*/
  .form-subtitle{
    width: 100%;
    justify-content: left;
    height: 40px;
    font-weight: bold;
    background: #bbb8b9 ;
    border-radius: 0px 0px 0px 0;
    text-align: left;
    color: #161616;
    padding-left: 30px;
  }
  
  /*Button edit*/
  .btn-edit{
    width: 25px;
    height: 25px;
  }  
    /*Button icon*/
  .btn-icon{
    width: 15px;
    height: 20px;
    align-content: center;
  }

  .btn-add{
    width: 35px;
    padding-top: 5px;
    height: 35px;
  }

  .justify-content-center {
    display: flex !important;
    justify-content: center !important;
  }

  .thead-dark th{
    color:#fff;
    background-color:#7b1a52;
    border-color:#c7c8c9;
  }

  .row-search {
    display: flex;
    flex-wrap: wrap;
  }

  .btn-pm{
    float: right;
    color: white;
    background-color: #882960;
    width: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
  }
    
  .btn-pm:hover{
    color: #882960;
    border-color: #882960;
    border-width: 1px;
    border-style: solid;
    background-color: white;
  }
  /*Change color of pagination component*/
  ngb-pagination ::ng-deep .page-item.active .page-link {
    background-color: #7b1a52;
    border-color: #7b1a52;
  }
    
    
@import "../node_modules/@syncfusion/ej2/material.css";
  
  