<div class="container">
 <!-- <app-header></app-header>-->
  <div class="col-12 title form-title">
    <label style="padding-left: 20px;">User Profile</label>
  </div>

  <div class="user-form">
    <div class="col-md-12">
      <div class=" form-group row">
        <label class="col-sm-2 col-form-label text-label">Name:</label>
        <h6 id="nameId" class="col-sm-4">{{user.name}}</h6>
        <label class="col-sm-2 col-form-label text-label">Email:</label>
        <h6 id="emailId" class="col-sm-4">{{user.email}}</h6>
      </div>
      <div class=" form-group row">
        <label class="col-sm-2 col-form-label text-label">Last Name:</label>
        <h6 id="lastnameId" class="col-sm-4">{{user.lastname}}</h6>
        <label class="col-sm-2 col-form-label text-label">Phone Number:</label>
        <h6 id="phoneNumberId" class="col-sm-4">{{user.phoneNumber}}</h6>
      </div>
      <div class=" form-group row">
        <label class="col-sm-2 col-form-label text-label">Role:</label>
        <h6 id="rolId" class="col-sm-4">{{rol_name}}</h6>
      </div>
    </div>
  </div>
</div>