@import url('https://fonts.googleapis.com/css?family=Numans');

.body_login{
    background-image: url('../../assets/images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-login-container{
    height: 23rem;
    width: 35rem;
    background: #3c3c3c;
    opacity: 70%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-primary{
    height: 100%;
    width: 17rem;
    background: #609AB4;
    border-radius: 0px 1rem 1rem 0px;
}

section{
    margin-bottom: auto;
    width: 100%;
    background-color: hsla(0, 0%, 67%, 0.74);
    height: 24%;
    border-radius: 2% 2% 0 0;
}

section #img-icon{
    margin: 1rem 25% 1rem;
    width: 50%;
    height: 60px;
}

section h2 {
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 2.9rem;
    color: #ffffff;
}

.input-div{
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div.one{
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 4px;
}

.input-div.two{
    margin: 8px 0px 4px 5px;
}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    color: #d9d9d9;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
    transition: 0.3s;
}

input[type="text"], input[type="password"]{
    position: absolute;
    top: 0;
    width: 90%;
    left: 0;
    border: none;
    outline: none;
    background: none;
    font-size:  1.2rem;
    padding: 0.5rem 0.7rem;
    color: #fff;
}

.check{
    margin: 15px 0 0 5px;
}

.check input[type="checkbox"]{
    margin-left: 5px;
    margin-top: 30px;
}

.check label{
    margin-left: 5px;
    color: #fff;
}

.btn{
    display: block;
    margin-top: 25px;
    border-radius: 25px;
    background-color: hsla(0, 0%, 67%, 0.74);
    color: #fff;
    box-sizing: border-box;
    width: calc(100% - 60px);
    height: 5%;
    margin-left: 30px;
    border: 2px solid hsla(0, 0%, 67%, 0.74);
    outline: none;
}

.btn:hover{
    background-color: #fff;
    color: #7b1a52;
}

 span{
    margin-left: 52px;
}