<div class="body_login">
  <div class="main-login-container">
    <div class="container-primary"></div>
  </div>
</div>


<!--
<div class="body_login">
  <div class="login-container">
      <section>
        <img id="img-icon" src="https://i.imgur.com/yR6O4CI.png">
      </section>
      <form [formGroup]="loginForm" id= "loginForm" (ngSubmit)="submitLogin()">
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div>
              <h5 *ngIf="emailPlaceholder">Email</h5>
              <input type="text" formControlName="email" class="form-control">
            </div>
          </div>
          <span id= "hint-email"  class="text-danger" *ngIf="submitted && f.email.errors?.required">Email is required</span>
          <div class="input-div two">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div>
              <h5 *ngIf="passwordPlaceholder">Password</h5>
              <input type="password" formControlName="password" class="form-control">
            </div>
          </div>
          <span id= "hint-pass" class="text-danger" *ngIf="submitted && f.password.errors?.required">Password is required</span> 
          <div class="check">
            <input id="remenber" type="checkbox">
            <label for="remenber">Remember me</label>
          </div>
          <button type="submit" id="login-form" class="btn">Login</button>
      </form>
  </div>
</div>
-->