@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

.body_login{
    background-image: url('../../assets/images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-primary{
    height: 25rem;
    width: 21rem;
    background:  #609AB4;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-people{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    background: #021e26;
    border-radius: 0.5rem 0.5rem 0px 0px;
    opacity: 95%;
    clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
}

.text-title{
    font-size: 1.3rem;
    font-weight: bold;
    color: #609AB4;
}

.img-icon{
    width: 4.5rem;
    height: 3.1rem;
    transform: rotate(45deg);
}

.input-group-prepend span{
    background-color: #000;
    border:0 !important;
}

.whitecolor{
    color: white;
}

section{
    margin-top: 3.2rem;
}

.btn-submit{
    margin-top: 1.2rem;
    background: #000;
    color: #FFF;
    font-weight: bold;
    width: 14rem;
    height: 2.0rem;
    border: 0px;
    border-radius: 0.5rem;
    margin-left: calc((100% - 14rem) / 2);
}

.btn-submit:hover, .btn-submit:focus{
    border: 1px solid #fff;
    outline: none;
}

.size-spinner{
    height: 1.5rem !important;
    width: 1.5rem !important;
}