.container{
  margin-bottom: .5rem; /* overwrite because pagination has 1rem space */
}

#list-container-footer {
  width: 100%;
}

/* Change color of pagination component */
ngb-pagination ::ng-deep .page-item.active .page-link {
  background-color: #3498db;
  border-color:#3498db;
  color:white;
}

.btn-outline-success{
  color: #3498db;
  border-color: #3498db;
}

.btn-outline-success:hover{
  color: white;
  background-color: #3498db;
  border-color: #3498db;
<<<<<<< HEAD
=======
}

#filter-input, #select-sortby {
  width: 10rem;
>>>>>>> ed4d77746c079c284f444231d8257262cd2caaf9
}