.container{
  margin-top: calc(56px + 1rem * 1.5); /* $spacer = 1rem */
}

.list-container{
  background: lightgray;
}

#add-btn{
  background-color: #882960;
  border-color: #882960;
  text-transform: uppercase;
}

#list-container-footer {
  width: 100%;
}

/* Change color of pagination component */
ngb-pagination ::ng-deep .page-item.active .page-link {
  background-color: #3498db;
  border-color:#3498db;
  color:white;
}

.btn-outline-success{
  color: #3498db;
  border-color: #3498db;
}


.btn-outline-success:hover{
  color: white;
  background-color: #3498db;
  border-color: #3498db;
}
/* BELOW CODE PROBABLY IRRELEVANT */



#container-popup{
  visibility: hidden;
}
#dialog-container {
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 150%;
}
#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: relative;
  top: 45%;
  width: 30%;
}


  .aligner-right {
    float: right;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-top: 0px;
    width: 100%;
  }
  
  .aligner {
    display: flex;
    align-items: center;        
    justify-content: center;
    height: 100%;
  }
  
  .aligner-item {
    max-width: 50%;
  }
  /* Button */
  .btn-signup {
    float: right;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding-top: 0px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-top: 0px;
    background-color: #7b1a52; 
  }

  .btn-signup:hover{
    background-color:rgb(153, 56, 129);
    color: white;
  }

  .btn-form {
    float: right;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding-top: 0px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 0px;
    margin-top: 0px;
    background-color: #7b1a52; 
  }

  .btn-form:hover{
    background-color: rgb(160, 61, 135);
    color: white;
  }

  .position{
    float: right;
    width: 95%;
    margin: 0 auto;
  }

  .position-search{
    width: 95%;
    padding-left: 25px;
  }

  .position-info{
    padding-left: 10px;
  }

  .text-title{
    text-align:left;
    width: 95%;
    padding: 1px;
    
  }

  .text-subtitle{
    text-align:left;
    width: 95%;
    padding-top: 5px;
  }
  .text{
    font-weight: bold;
  }
  /*For the title of forms*/
  .form-title{
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 40px;
    background: #882960;
    border-radius: 0px 0px 0px 0;
    color: #ffffff;
    padding-left: 0px;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-weight: bold;    
  }

  .input:disabled {
    color: #aaa;
  }
  /*For the second title of forms*/
  .form-subtitle{
    width: 100%;
    justify-content: left;
    height: 40px;
    font-weight: bold;
    background: #bbb8b9 ;
    border-radius: 0px 0px 0px 0;
    text-align: left;
    color: #161616;
    padding-left: 30px;
  }
  
  /*Button icon*/
  .btn-icon{
    width: 15px;
    height: 20px;
    align-content: center;    
  }

  .btn-add{
    width: 35px;
    padding-top: 5px;
    height: 35px;
  }

  .justify-content-center {
    display: flex !important;
    justify-content: center !important;
  }

  .thead-dark th{
    color:#fff;
    background-color:#7b1a52;
    border-color:#c7c8c9
  }

  .row-search {
    display: flex;
    flex-wrap: wrap;
  }
  .btn-pm{
    float: right;
    color: white;
    background-color: #882960;
    width: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;  
  }
  
  .btn-pm:hover{
    color: #882960;
    border-color: #882960;
    border-width: 1px;
    border-style: solid;
    background-color: white;
  }

  .card-deck{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  div.row.row-cols-4{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
  }

  
  @import "../node_modules/@syncfusion/ej2/material.css";
  
  