.container{
  margin-bottom: .5rem; /* overwrite because pagination has 1rem space */
}

/*.list-container{
  background: lightgray;
}*/

#add-btn{
  background-color: #882960;
  border-color: #882960;
  text-transform: uppercase;
}

#list-container-footer {
  width: 100%;
}

/* Change color of pagination component */
ngb-pagination ::ng-deep .page-item.active .page-link {
  background-color: #3498db;
  border-color:#3498db;
  color:white;
}

.btn-outline-success{
  color: #3498db;
  border-color: #3498db;
}


.btn-outline-success:hover{
  color: white;
  background-color: #3498db;
  border-color: #3498db;
}
  
  