<div class="container mt-0">
  <div class="list-container px-3">

    <h1 class="mb-3">List of Candidates</h1>

    <div class="list-container-header">
      <div class="float-left mb-3 mr-3">
        <form class="form-inline mb-0" (submit)="filterCandidate()">
          <input id="filter-input" class="form-control mr-2" name="filterText" [(ngModel)]="filterText" type="search" placeholder="Candidate Name">
          <button class="btn btn-primary mr-2" type="submit">
            &nbsp; <i class="fas fa-search"></i> &nbsp;
          </button>
        </form>
      </div>

      <div class="float-left mb-3 mr-3">
        <form class="form-inline mb-0">
          <label for="select-sortby" class="mr-2">Sort By:</label>
          <select id="select-sortby" name="sortBy" [(ngModel)]="sortBy" (change)="changeSortBy()" class="form-control">
            <option [ngValue]="'LAST_MODIFIED'">Last Modified</option>
            <option [ngValue]="'LAST_NAME'">Last Name</option>
          </select>
        </form>
      </div>

      <div class="float-right mb-3">
        <button class="btn btn-primary" type="submit" (click)="toViewCandidateAdd()" [routerLink]="''">
          &nbsp; <i class="fas fa-plus-square"></i> &nbsp; Add Candidate
        </button>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="list-container-body">
      <div *ngIf="candidates?.content?.length > 0" class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let item of candidates?.content">
          <app-card-candidate [candidate]="item" (updateListCandidate)="processUpdateList($event)"></app-card-candidate>
        </div>
      </div>

      <div *ngIf="candidates?.content?.length > 0" class="d-flex justify-content-center" id="list-container-footer">
        <ngb-pagination class="" [collectionSize]="candidates.totalCount" [pageSize]="pageSize" [(page)]="page"
          [maxSize]="1" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>

      <p *ngIf="!candidatesInDB" class="text-center font-italic">No candidates in the database</p>
      <p *ngIf="candidatesInDB && candidates?.content?.length == 0" class="text-center font-italic">No candidates found</p>
    </div>

  </div>
</div>
