<div class="container">
  <app-header></app-header>
  <div class="card card-signin">

    <div class="col-12 title form-title">
      <div class="row col-12 position">
        <div class="col-md-6">
          <label class="text-title">List of Candidates: </label>
        </div>
      </div>
    </div>
    <app-data-table [rowItems]="rowItems" [rowSettings]="rowSettings" [showFilter]="true" [showPagination]="true"
      [filteringFields]='filteringFields' (getAllData)="getAllCandidates($event)"></app-data-table>
    <div class="col-12">
      <button id="add-candidate" alt="addCandidate" title="Add Candidate" type="button" style="margin: 10 10 10 10"
        class="btn btn-pm float-right btn-lg" (click)="toViewCandidateAdd()">
        Add
      </button>
    </div>
  </div>
</div>